---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const work = (await getCollection("work"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3); // Get only the 3 most recent posts
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <!-- <style>
			.blog-preview {
				margin-top: 2rem;
			}
			.posts-grid {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
				gap: 2rem;
				padding: 0;
				list-style-type: none;
			}
			.post-card {
				border: 1px solid #eee;
				border-radius: 8px;
				padding: 1rem;
				transition: transform 0.2s ease;
			}
			.post-card:hover {
				transform: translateY(-3px);
			}
			.post-card img {
				width: 100%;
				height: 200px;
				object-fit: cover;
				border-radius: 4px;
			}
			.post-title {
				margin: 0.5rem 0;
				font-size: 1.25rem;
				color: rgb(var(--black));
			}
			.post-date {
				color: rgb(var(--gray));
				font-size: 0.875rem;
			}
			.view-all {
				display: block;
				text-align: center;
				margin-top: 2rem;
				color: rgb(var(--accent));
				text-decoration: none;
			}
			.view-all:hover {
				text-decoration: underline;
			}
		</style> -->
  </head>
  <body class="bg-gray-50 dark:bg-neutral-900 text-gray-900 dark:text-white">
    <Header />
    <main class="max-w-3xl mx-auto px-4 py-8">
      <div class="flex flex-col gap-4 mb-12">
        <h1 class="text-2xl font-medium">
          Hey, I'm Riccardo 🤗, co-founder of <a
            href="https://www.contentradar.ai">ContentRadar AI</a
          >, <span class="whitespace-nowrap">small-ticket angel investor</span>,
          and startups advisor.
        </h1>
        <!-- <h1 class="text-2xl font-medium">
			Hey, I'm Riccardo 🤗, co-founder of <a
			  href="https://www.contentradar.ai">ContentRadar AI</a
			> and smolHQ <span class="opacity-80">(coming soon)</span>,
			small-ticket angel investor, advising startups.
		  </h1> -->
        <p>
          <!-- I also work with early-stage startups to help them validate, scale-up their products via smolHQ <span class="opacity-50">(coming soon)</span>. -->
          <!-- I'm a Product Designer and Product guy™ tinkerer at heart—spending a lot of time with AI workflows and agents these days. -->
          I've worked in tech as Product Designer and Product Lead for over 10 years,
          helping early-stage startups and established orgs crafting (usually) thoughtful
          UX and building products that drive real business impact.
        </p>
        <p class="mt-0">
          These days I create and launch products, advise early-stage startups,
          and trying to keep my posting streak on Design and AI alive on <a
            href="https://www.linkedin.com/in/rcbz/">LinkedIn</a
          >.
        </p>
      </div>

      <section class="flex flex-col gap-2 mb-12">
        <h2 class="font-semibold">Companies I've worked with</h2>
        <ul class="grid grid-cols-3 gap-2">
          {
            [
              {
                name: "ContentRadar",
                // role: "Co-founder, Product and Design",
                // period: "Sep 2023 – current",
              },
              {
                name: "Glyphic AI",
                // role: "Product and Design",
                // period: "Oct 2022 – May 2023",
              },
              {
                name: "Spotify",
                // role: "Product and Design",
                // period: "Apr 2018 – Nov 2021",
              },
              {
                name: "Zalando",
                // role: "Product Designer",
                // period: "Oct 2016 – Dec 2017",
              },
              {
                name: "GetYourGuide",
                // role: "Product Designer",
                // period: "Sep 2014 – Dec 2016",
              },
              { name: "and more 💁‍♀️" },
            ].map(({ name, role, period }) => (
              <li class={`flex flex-col`}>
                <span>{name}</span>
                {role && <span class="text-sm">{role}</span>}
                {period && (
                  <span class="mt-0.5 uppercase opacity-80 text-xs">
                    {period}
                  </span>
                )}
              </li>
            ))
          }
          <!-- {
						work.map((post) => (
							<li class="post-card">
								<a href={`/work/${post.id}/`}>
									<img src={post.data.heroImage} alt="" />
									<h3 class="post-title">{post.data.title}</h3>
									<p class="post-date">
										{post.data.startDate}—{post.data.endDate ? post.data.endDate: "current"}

									</p>
								</a>
							</li>
						))
					} -->
        </ul>
      </section>

      <section class="flex flex-col gap-2 mb-12 hidden">
        <h2 class="font-semibold">Angel investments</h2>
        <p class="opacity-80">Small tickets. Mighty teams.</p>
        <ul class="grid grid-cols-3 gap-2">
          {
            ["Charm.sh", "Midly.it", "(undisclosed)"].map((company) => (
              <li class="post-card">{company}</li>
            ))
          }
          <!-- {
						work.map((post) => (
							<li class="post-card">
								<a href={`/work/${post.id}/`}>
									<img src={post.data.heroImage} alt="" />
									<h3 class="post-title">{post.data.title}</h3>
									<p class="post-date">
										{post.data.startDate}—{post.data.endDate ? post.data.endDate: "current"}

									</p>
								</a>
							</li>
						))
					} -->
        </ul>
      </section>

      <section id="contacts" class="flex flex-col gap-2">
        <h2 class="font-semibold">Let's connect 👽</h2>
        <p>
          Thinking of working together or know more about me? I'd love to chat!
        </p>
        <nav class="flex flex-col gap-1">
          <span>
            <button
              title="Click to copy my email"
              class="link cursor-pointer"
              onclick="
                navigator.clipboard.writeText('riccardo.buzzotta@gmail.com');
                const span = document.createElement('span');
                span.textContent = ' ✅ Email copied';
                span.classList.add('text-green-600', 'ml-1');
                this.parentNode.appendChild(span);
                setTimeout(() => {
                  span.remove();
                }, 2000);
              "
            >
              ✉️ Email me
            </button>
          </span>
          <a href="https://www.linkedin.com/in/rcbz/"
            >🕵 Write me on Linkedin
          </a>
          <a href="https://cal.com/rccbzz/30min">🗓️ Book a short call</a>
        </nav>
      </section>
    </main>
    <Footer />
  </body>
</html>
